name: Build
on:
  push:
    # Do not run on tag pushes
    branches: '**'
    # Only run when;
    paths:
      # any Rust code has changed,
      - "**.rs"
      # this workflow has changed,
      - ".github/workflows/build.yml"
      # dependencies have changed,
      - "Cargo.lock"
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v6
      - name: Create `out/`
        run: mkdir out
      # Install Rust on the various platforms
      - name: Install Rust for Windows
        if: matrix.os == 'windows-latest'
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
          toolchain: nightly
      - name: Install Rust for Linux
        if: matrix.os == 'ubuntu-latest'
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-pc-windows-gnu, x86_64-unknown-linux-musl, aarch64-unknown-linux-musl
          toolchain: nightly
          components: clippy
      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gcc-mingw-w64-x86-64 musl musl-tools gcc-aarch64-linux-gnu libwayland-dev
          curl -s https://apt.llvm.org/llvm.sh | sudo bash -s 17
      - name: Install Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Lint code
        run: cargo clippy -- -A clippy::implicit_clone
      - name: Run tests
        run: cargo nextest run --no-default-features --no-fail-fast
      - name: Build Windows MSVC
        if: matrix.os == 'windows-latest'
        run: |
          cargo build --target=x86_64-pc-windows-msvc --release
          Compress-Archive -Path "target\x86_64-pc-windows-msvc\release\ferium.exe" -DestinationPath "out\ferium-windows-msvc.zip"
      - name: Build Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          cargo build --target=x86_64-unknown-linux-musl --release
          zip -r out/ferium-linux.zip -j target/x86_64-unknown-linux-musl/release/ferium
      - name: Build ARM Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          cargo rustc --target=aarch64-unknown-linux-musl --release -- -Clink-self-contained=yes -Clinker=rust-lld
          zip -r out/ferium-linux-arm64.zip -j target/aarch64-unknown-linux-musl/release/ferium
        env:
          CC_aarch64_unknown_linux_musl: clang-17
      - name: Build Linux nogui
        if: matrix.os == 'ubuntu-latest'
        run: |
          cargo build --target=x86_64-unknown-linux-musl --release --no-default-features
          zip -r out/ferium-linux-nogui.zip -j target/x86_64-unknown-linux-musl/release/ferium
      - name: Build ARM Linux nogui
        if: matrix.os == 'ubuntu-latest'
        run: |
          cargo rustc --target=aarch64-unknown-linux-musl --release --no-default-features -- -Clink-self-contained=yes -Clinker=rust-lld 
          zip -r out/ferium-linux-arm64-nogui.zip -j target/aarch64-unknown-linux-musl/release/ferium
        env:
          CC_aarch64_unknown_linux_musl: clang-17

      - name: Upload build artefacts
        uses: actions/upload-artifact@v5
        with:
          name: binaries-${{ matrix.os }}
          path: out/ferium*.zip
          if-no-files-found: error
